@charset "utf-8";

/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 8
   Case Problem 1

   Rhetoric in the United States Styles for Media
   Author: Jennifer Perez
   Date:   4.4.2021

   Filename: ws_media.css

*/

/* VideoPlayer Styles */

video {
   display: block;
   width: 90%;
   margin: 5px auto;
}

@media only screen and (min-width: 521px) {
   video {
      width: 360;
      float: right;
      margin: 10px;
   }
}

/* Track Styles */


::cue {
   background: rgba(255,255,255,0.8);
   color: rgb(221,128,160);
   font: 1.3em sans-serif;

}